body {
  background: linear-gradient(to bottom, #3498db, #5d1abc); /* Cambia los colores según tus preferencias */
  font-family: 'Arial', sans-serif;
  color: #fff; /* Cambia el color del texto */
}
.App {
  text-align: center;
  margin: 20px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  background-color: #fff; /* Cambia el color de fondo de cada producto */
}

.producto h3 {
  color: #007bff; /* Cambia el color del título del producto */
}

.producto p {
  color: #888; /* Cambia el color del texto del producto */
}

.producto button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.producto button:hover {
  background-color: #45a049;
}
